@import"./parciales/variables";
@import"./parciales/reset";
@import"./parciales/producto";
@import"./parciales/nav";
@import"./parciales/imgInicio";
@import"./parciales/formSoporte";
@import"./parciales/formEncargos";
@import"./parciales/footer";


