@import"./variables";
.footer{
    background-color: $colorCeleste;
    color: white;
    
    .textoFooter{
        text-decoration: none;
        font-size: 18px;
        height: 30%;
        width: 30%;
        padding: 1rem;
        @include tablet{
            font-size: 10px;
            padding: 1rem;
        }
    }
}