@import"./variables";

.formEncargos{
    border: solid $colorCeleste;
    padding: $p1;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;

    &__cuadroTexto{
        width: 100%;
    }
}