@import"./variables";
@import"./mediaQuerie";

.imagenChica{
    border-radius: 16px;
    height: 250px;
    width: 250px;
    border: solid $colorCeleste 3px;
    padding: 0px !important;
    margin-top:  1rem;
    margin-right: 1rem;
    @include tablet{
        height: 150px;
        width: 150px;
    }
}

.imagenProducto{
    height: 100px;
    width: 100%;
}

.imagenCarrucel{
    width: 400px;
    height: 400px;
    border: $colorCeleste;
    border-radius: 16px;
}
