@import"./variables";
@import"./mediaQuerie";

.imagenChica{
    border-radius: 16px;
    height: 300px;
    width: 300px;
    border: solid $colorCeleste 3px;
    padding: 0px !important;
    margin-top:  1rem;
    margin-right: 1rem;
    @include tablet{
        height: 150px;
        width: 150px;
    }
    @include movil{
        height: 150px;
        width: 150px;
    }
}

.imagenChica:hover{
    transform: scale(1.1, 1.1);
    transition: 0.1s;
}

.imagenProducto{
    height: 100px;
    width: 100%;
}

.imagenCarrucel{
    width: 100%;
    height: 100%;
    border: $colorCeleste;
    border-radius: 16px;
    min-width: 400px;    
    min-height: 400px;
}

.boton{
   display: flex;
   width: 100%;
   justify-content: center;
   padding: 10px;
   background-color: $colorCeleste;
   color: white;
   text-transform: uppercase !important;
   border-radius: 10px;
   border: solid $colorCeleste;
   @include tablet{
       margin-top: 1rem;
   }
}

.boton:hover{
    transform: scale(1.1 , 1.1);
    transition: 0.1s;
}

.contenedorBoton{
    display: flex;
    justify-content: space-between;
}

.botonSecundario{
    width: 48%;
    padding: 2px;
    background-color: white;
    color: $colorCeleste;
    border-radius: 10px;
    border: solid $colorCeleste;
    margin-top: 1rem;

}

.botonSecundario:hover{
    transform: scale(1.1, 1.1);
    transition: 0.1s;
}

.contenedorTexto{
    margin-top: 1rem;
}