@import"./variables";

*{ padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-sizing: border-box;
}
