@import"./variables";
@import"./mediaQuerie";

.nosotros{
    border-radius: 16px;
    height: 250px;
    width: 250px;
    border: solid $colorCeleste 3px;
    padding: 0px !important;
    margin-top:  1rem;
    margin-right: 1rem;
    @include tablet{
        height: 100px;
        width: 100px;
    }
}
